@font-face {
    font-family: 'fibberish';
    src: url('fonts/fibberish.ttf') format('ttf'),
            url('fonts/fibberish.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



canvas {
    border: 1px solid #000;
}

h1 {
    margin: 5px;
}

.enemy {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #05000000;
    background-image: url('img/rein-pixelated-earthshatter-v0-e7o3von41w1c1.gif');
    background-size: cover;
    

}

.zen {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 300px;
    background-image: url('img/tumblr_ohrvszbD2u1ufdtcro3_r1_640.webp');
    background-size: cover;
    display: block;
}

#gameArea {
    display: flex;
    position: relative;
    width: 420px;
    height: 420px;
    background-image: url('img/+100\ Pixel\ Art\ Masterpieces.gif');
    background-size: cover;
    border: 5px solid #2bdfe644;
    background-color: rgba(74, 64, 168, 0.582);
}

.snake-head {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(63, 143, 143, 0);
    border: 1px solid rgba(0, 100, 0, 0);
}

#score {
    margin-right: 100px;
    background-color: #8d86eead;
    padding: 4px;
    border-radius: 10px;
}

#timer {
    border-color: aquamarine;
    background-color: #8d86eead;
    padding: 4px;
    border-radius: 10px;
}

button {
    background-color: #8d86eead;
    padding: 4px;
    border-radius: 10px;
    border-color: aquamarine;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.snake-body.head {
    background-color: green;
    border-color: darkgreen;
}

#food {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('img/edf254eea0ca51397e883b6908ad57cb.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}

.snake-head.visible {
    display: block;
}

#ui {
    border-color: aquamarine;
    border-radius: 10px;
    font-family: 'fibberish';
    font-size: x-small;
    color:aqua;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-clip: url('img/j18qwtm4fbva1.mp4');
    background-size: cover;
    background-repeat: no-repeat;
}

.snake-part {
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid darkgreen;
}   

.snake-segment {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url('img/EnergyOrb.webp');
    background-size: cover;
    filter: hue-rotate(182deg);
}

.effect {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('img/d6bbrxe-b017a61b-b988-4e09-adbd-56f50ede0ab6.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
