
canvas {
    border: 1px solid #000;
}

h1 {
    margin: 5px;
}

#gameArea {
    display: flex;
    position: relative;
    width: 420px;
    height: 420px;
    border: 5px solid #2bdfe644;
    background-color: rgba(74, 64, 168, 0.582);
}

.snake-head {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border: 1px solid darkblue;
    display: none;
}

#score {
    margin-right: 100px;
    background-color: #8d86eead;
    padding: 4px;
    border-radius: 10px;
}

#timer {
    border-color: aquamarine;
    background-color: #8d86eead;
    padding: 4px;
    border-radius: 10px;
}

button {
    background-color: #8d86eead;
    padding: 4px;
    border-radius: 10px;
    border-color: aquamarine;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.snake-body.head {
    background-color: green;
    border-color: darkgreen;
}

#food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

.snake-head.visible {
    display: block;
}

#ui {
    border-color: aquamarine;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    color:aqua;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/Best\ Pixel\ Art\ Ever.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.snake-part {
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid darkgreen;
}   

.snake-segment {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid darkgreen;
}